
.cart-modal-container{
  width: 100%;
  height: 100vh;
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  opacity: 0;
  visibility: hidden;
  transition: visibility 0s .45s, opacity .15s linear;
  .cart-modal{
    width: calc(100% - 40px);
    max-width: 425px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -75%);
    padding: 40px;
    margin: unset;
    background: white;
    border-radius: 4px;
    position: absolute;
    text-align: center;
    transition: transform .15s linear;
    .icon-pointer{
      background-image: url('../../../../assets/image/icon-pointer.png');
      display: inline-block;
      vertical-align: middle;
    }
    .btn{
      padding: 22px;
      margin: 7px 0;
      width: 100%;
      font-size: 15px;
      font-weight: bold;
      border-width: 1px;
      border-style: solid;
      border-radius: 4px;
    }
    .go-to-cart{
      span{
        width: 6px;
        height: 13px;
        background-position: -304px 0px;
      }
    }
    .ok{
      background-color: white;
      border-color: #35C5F0;
      color: #35C5F0;
    }
    .close{
      background-color: white;
      border: none;
      width: 12px;
      height: 12px;
      background-position: -186px -39px;
      position: absolute;
      top: 22px;
      right: 22px;
    }
    .cart-modal-message{
      font-weight: bold;
      font-size: 20px;
      padding-bottom: 30px;
    }
  }
  .showModal{
    transform: translate(-50%, -50%);
    transition: transform .15s linear;
  }
}
.show{
  opacity: 1;
  visibility: visible;
  transition: visibility 0s 0s, opacity .15s linear;
}





