.product-review-container{
  width: 690px;
  padding: 40px 30px 15px 30px;
  position: relative;
  .write-review{
    position: absolute;
    color: #35c5f0;
    top: 60px;
    right: 30px;
    border: none;
    font-weight: 700;
  }
  .star-rate-container{
    text-align: center;
    margin: 60px 0 30px 0;
    .star-avg{
      padding: 0 10px;
      background-color: #35C5F0;
      color: white;
      font-weight: bold;
      font-size: 20px;
      vertical-align: middle;
      border-radius: 5px;
      margin-right: 10px;
    }
  }
  .filter-container{
    margin: 15px 0;
    padding: 15px 15px;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    position: relative;
    .review-filter-menu{
      display: inline-block;
      margin-right: 12px;
      font-size: 13px;
      font-weight: 700;
      line-height: 13px;
      color: #757575;
      span{
        width: 23px;
        height: 18px;
        background-position: -232px -670px;
        vertical-align: middle;
      }
    }
    .filter-btns{
      position: absolute;
      top: 11px;
      right: 15px;
      > li{
        display: inline-block;
        margin-left: 5px;
        position: relative;
        .arrow{
          width: 12px;
          height: 12px;
          background-position: -386px 3px;
        }
        .review-filter-btn{
          font-size: 15px;
          line-height: 19px;
          font-weight: bold;
          padding: 7px 8px 6px;
          border-style: none;
          border-radius: 4px;
          background-color: #f4f4f4;
          border-color: #f5f5f5;
          color: #757575;
        }
        .active{
          background-color: #e8f4fb;
          border-color: #e8f4fb;
          color: #35c5f0;
        }
        div{
          position: absolute;
          top: 25px;
          left: 50%;
          transform: translateX(-50%);
          padding-top: 20px;
            li{
              padding: 13px 15px;
            }
            li:hover{
              background-color: rgba(190, 239, 255, 0.5);
            }
          }
      }
    }
  }
  .chosenScore{
    display: flex;
    align-items: center;
    .close{
      width: 20px;
      height: 20px;
      background-position: -579px -34px;
    }
  }
  .user-review-container{
    min-height: 300px;
    .user-review{
      padding: 30px 0;
      border-bottom: 1px solid lightgrey;
      .user{
        display: block;
      }
      .review-star-score{
        display: inline-block;
      }
      .review-date{
        vertical-align: 2px;
        margin-left: 5px;
        font-size: 13px;
        color: #757575;
      }
      .review-image > img{
        width: 110px;
        height: 110px;
      }
      .review-comment{
        margin: 20px 0;
        font-size: 15px;
        line-height: 21px;
        color: #424242;
      }
      .helpful{
        padding: 5px 20px;
        border-radius: 4px;
        border: 1px solid #35c5f0;
        font-size: 15px;
        color: #35c5f0;
        font-weight: 700;
        margin-right: 10px;
        background-color: #fff;
        svg{
          margin-bottom: -2px;
        }
      }
    }
  }
  .no-review{
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    p{
      color: grey;
    }
  }
  .star{
    display: inline-block;
    width: 16px;
    height: 16px;
    background-position: 106px 0;
    margin-right: 2px;
  }
  .greystar{
    display: inline-block;
    width: 16px;
    height: 16px;
    background-position: 34px 0;
  }
  .blueText{
    font-weight: 700;
    line-height: 19px;
    color: #35c5f0;
  }
  .icon-pointer{
    display: inline-block;
    background-image: url('../../../../assets/image/icon-pointer.png');
  }
}
.icon-etc{
  display: inline-block;
  background-image: url('../../../../assets/image/icon-etc.png');
}














