.product-delivery-container{
  width: 690px;
  padding: 0px 30px 100px 30px;
  table{
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
    height: auto;
    font-size: 15px;
    color: #424242;
    margin-bottom: 30px;
    .table{
      border-bottom: 1px solid lightgrey;
      padding: 10px 0;
    }
    .table.key{
      width: 30%;
    }
  }
}
h4{
  font-size: 14px;
  font-weight: bold;
  padding-top: 30px;
}
p{
  font-size: 12px;
  color: #bdbdbd;
}
ol{
  font-size: 12px;
  margin-top: 5px;
  li{
    margin-left: 13px;
    span{
      font-size: 10px;
      color: #757575;
    }
  }
}