.product-option-container{
  display: inline-block;
  width: 100%;
  .icon{
    display: inline-block;
    background-image: url('../../../../assets/image/icon-pointer.png');
  }
  .selectbox{
    width: 100%;
    border-radius: 4px;
    border: solid 1px #dbdbdb;
    background-color: white;
    position: relative;
    font-size: 13px;
    margin-bottom: 10px;
    line-height: 40px;
    input{
      width: 100%;
      height: 40px;
      color: #424242;
      border-radius: 4px;
      padding: 0 15px;
      border: none;
    }
    .product-option-icon{
      width: 16px;
      height: 8px;
      background-position: top -39px left 0;
      position: absolute;
      right: 15px;
      top: 50%;
      transform: translateY(-50%);
    }
    .option-item-list{
      position: absolute;
      top: 39px;
      left: 0;
      background-color: white;
      z-index: 10;
      max-height: 200px;
      width: 100%;
      overflow-x: auto;
      border: solid 1px #dbdbdb;
      .option-item{
        padding: 0 15px;
      }
      .option-item:hover{
        background-color: rgb(30, 144, 255);
        color: white;
      }
    }
  }
  .selected-items-container{
    overflow-y: scroll;
    height: 250px;
    border: 1px solid #F1F1F1;
  }
  .selected-items{
    width: 100%;
    box-sizing: border-box;
    padding: 15px;
    position: relative;
    background: #f7f7f7;
    border-top: solid 1px #ededed;
    border-bottom: solid 1px #ededed;
    position: relative;
    .selected-item-name{
      font-size: 13px;
    }
    .ea-container{
      display: inline-block;
      position: relative;
      padding-left: 22px;
      margin-top: 15px;
      .selected-item-ea{
        font-size: 13px;
        border: none;
        background-color: transparent;
        text-align: center;
        width: 60px;
      }
      button{
        width: 22px;
        height: 22px;
        background-image: url('../../../../assets/image/icon-etc.png');
        border: none;
        vertical-align: middle;
      }
      .increase{
        background-position: top -264px left -149px;
      }
      .decrease{
        position: absolute;
        top: 2px;
        left: 0;
        background-position: top -264px left -97px;
      }
    }
    .selected-item-price{
      float: right;
      margin-top: 15px;
      font-size: 13px;
    }
    .selected-item-cancel{
      width: 12px;
      height: 12px;
      border: none;
      background-position: top -39px left -270px;
      background-color: transparent;
      position: absolute;
      right: 15px;
      top: 15px;
    }
  }
  .price{
    margin: 40px 0 20px 0;
    position: relative;
    .order-price{
      display: inline-block;
      font-weight: bold;
      background-color: transparent;
      font-size: 32px;
      font-family: Tahoma, sans-serif;
      position: absolute;
      top: -15px;
      right: 0;
      span{
        font-weight: normal;
        font-size: 28px;
      }
    }
  }
  .btn-container{
    display: flex;
    button{
      flex-grow: 1;
      height: 60px;
      line-height: 60px;
      border-radius: 4px;
      font-size: 17px;
      font-weight: bold;
      border: none;
    }
    .cart{
      margin-right: 9px;
      background-color: white;
      border: 1px solid #35C5F0;
      color: #35C5F0;
    }
    .buy{
      background-color: #35C5F0;
      border-color: #35C5F0;
      color: white;
    }
    .buy:hover{
      transition: .2s ease;
      background-color: #1bb8e6
    }
  }
}






