.qna-modal-bg{
  display: block;
  opacity: 0;
  visibility: hidden;
  transition: visibility 0s .45s, opacity .15s linear;
  position: fixed;
  overflow-x: hidden;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 10000;
  -webkit-overflow-scrolling: touch;
  background: rgba(0,0,0,0.4);
  color: #424242;
  .qna-modal{
    background: white;
    padding: 24px;
    border-radius: 4px;
    margin: 80px auto;
    width: 500px;
    overflow: hidden;
    position: relative;
    h1{
      padding-bottom: 24px;
      font-size: 18px;
      font-weight: bold;
    }
    h2{
      padding: 5px;
      font-size: 14px;
      font-weight: bold;
      color: #757575;
    }
    textarea{
      width: 100%;
      padding: 3px 6px;
      border: solid 1px #dbdbdb;
      border-radius: 5px;
      height: 200px;
      resize: none;
      font-size: 13px;
    }
    p{
      font-size: 12px;
    }
    .action{
      margin-top: 20px;
      text-align: center;
      button{
        padding: 10px 30px;
        font-size: 15px;
        font-weight: 300;
      }
      .close{
        margin-left: 10px;
      }
    }
  }
}
.show{
  opacity: 1;
  visibility: visible;
  transition: visibility 0s 0s, opacity .15s linear;
}