ul {
  list-style: none;
}
.item-cards {
  margin-bottom: 12px;
  .card-header {
    border: solid #ededed;
    border-width: 1px 1px 0;
    border-radius: 6px 6px 0 0;
    padding: 10px 0;
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
    color: #424242;
    background-color: #fff;
  }
  .item {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border: 1px solid #ededed;
    border-radius: 6px;
    li {
      border-bottom: 1px solid #ededed;
      padding: 20px 15px 20px 54px;
      background-color: #fff;
    }
  }
  .item > footer {
    box-sizing: border-box;
    position: relative;
    display: block;
    padding: 10px 0;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    color: #424242;
    background-color: #fff;
  }
}
.item-card {
  position: relative;
  background-color: #fff;
  .checkbox {
    left: -35px;
    position: absolute;
    top: 20px;
  }
  .product {
    margin: 0 20px 12px 0;
    display: flex;
    .item-image {
      flex: 0 0 auto;
      position: relative;
      display: block;
      width: 70px;
      height: 70px;
      border-radius: 6px;
      background-color: #ededed;
      overflow: hidden;
      > img {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        transition: transform 0.2s;
        transform: translate(-50%, -50%) scale(1.0001);
      }
    }
    .item-content {
      flex: 1 0 0px;
      padding-left: 12px;
      .content-header {
        min-width: 0;
        font-size: 15px;
        font-weight: 500;
        color: #000;
        line-height: 21px;
        overflow-wrap: break-word;
        transition: opacity 0.1s;
      }
      .item-caption {
        margin-top: 8px;
        font-weight: 400;
        font-size: 11px;
        line-height: 15px;
        color: #757575;
        overflow-wrap: break-word;
      }
    }
  }
  .product-delete {
    position: absolute;
    display: inline-block;
    top: 15px;
    right: 10px;
    padding: 5px;
    background: none;
    border: none;
    font-size: 0;
    transition: opacity 0.1s;
    color: #424242;
  }
  .product-option {
    position: relative;
    margin: 0 0 8px;
    padding: 10px;
    background-color: #f5f5f5;
    border-radius: 6px;
    .option-name {
      font-size: 15px;
      font-weight: 400;
      line-height: 20px;
      color: #424242;
      padding: 0 22px 10px 0;
    }
    .product-option-item {
      display: flex;
      justify-content: space-between;
      font-size: 15px;
      font-weight: 700;
      line-height: 24px;
      color: #424242;
    }
  }
}

.option-quantity {
  .option-quantity-count {
    height: 24px;
    padding: 0 10px;
    font-size: 13px;
    line-height: 22px;
    border-radius: 3px;
    text-align: center;
    font-family: Tahoma, sans;
    width: 80px;
    display: inline-block;
  }
}

.carted-product-footer {
  margin-top: 16px;
  .product-subtotal {
    color: #000;
    font-size: 17px;
    font-weight: 700;
    display: flex;
    justify-content: end;
  }
}

.form-controls {
  transition: 0.2s border-color, 0.2s box-shadow, 0.2s background-color;
  display: block;
  box-sizing: border-box;
  height: 40px;
  width: 100%;
  padding: 0 15px;
  line-height: 40px;
  border-radius: 4px;
  border: solid 1px #dbdbdb;
  background-color: white;
  color: #424242;
}
.error {
  display: inline-block;
  font-size: 0.8rem;
  color: #f77;
  margin-left: 5px;
}
