/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap');
* {
  font-family: 'Noto Sans KR', 'Apple SD Gothic Neo', '맑은 고딕',
    'Malgun Gothic', sans-serif;
}
html {
  color: #424242;
  background: #fff;
  overflow-x: hidden;
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset,
img {
  border: 0;
}
address,
caption,
cite,
code,
dfn,
em,
th,
var {
  font-style: normal;
  font-weight: normal;
}
ul {
  list-style: none;
}
caption,
th {
  text-align: left;
}
q:before,
q:after {
  content: '';
}
abbr,
acronym {
  border: 0;
  font-variant: normal;
}
sup {
  vertical-align: text-top;
}
sub {
  vertical-align: text-bottom;
}
input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}
legend {
  color: #000;
}
#yui3-css-stamp.cssreset {
  display: none;
}
a {
  color: inherit;
  text-decoration: none;
}
a * {
  border: none;
}
input[type='number'],
input[type='text'],
input[type='password'],
input[type='file'],
input[type='tel'],
input[type='email'],
select,
option,
textarea,
input[type='submit'],
button {
  // -webkit-appearance: none;
  -moz-appearance: textfield;
}
input[type='number']:focus,
input[type='text']:focus,
input[type='password']:focus,
input[type='file']:focus,
input[type='tel']:focus,
input[type='email']:focus,
select:focus,
option:focus,
textarea:focus,
input[type='submit']:focus,
button:focus {
  outline: 0;
}
select {
  -moz-appearance: none;
}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
select::-ms-expand {
  display: none;
}
input:-webkit-autofill {
  background-color: transparent !important;
  color: inherit !important;
}
[contentEditable='true']:empty:not(:focus):before {
  content: attr(data-ph);
  color: #939598;
  display: block;
}
[contentEditable='true']:focus {
  outline: none;
}
figure {
  margin: 0;
}
