.main-nav {
  /*position: fixed;*/
  top: 0;
  z-index: 100;
  left: 0;
  right: 0;
  transition: top 0.1s;
  background-color: white;
  border-bottom: 1px solid #ededed;
  width: calc(100vw - 18px);
}
.navigation-primary {
  box-sizing: border-box;
  width: 1256px;
  left: 50%;
  transform: translateX(-50%);
  padding: 25px 60px;
  line-height: 15px;
  position: relative;
  align-items: flex-end;
  height: 80px;
  .navigation-menu {
    width: 800px;
    display: inline-block;
    white-space: nowrap;
    flex: 1 0 auto;
    > a {
      position: relative;
      padding: 25px 15px;
      font-size: 18px;
      font-weight: bold;
      padding: 25px 15px;
      color: #424242;
      cursor: pointer;
    }
  }
  > a.active,
  .navigation-menu > a.active {
    color: #35c5f0;
  }
  .cart-btn {
    border-radius: 100%;
    display: inline-block;
    position: relative;
    margin: 0 1px;
    padding: 7px;
    box-sizing: border-box;
    width: 36px;
    height: 36px;
    background: transparent;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-family: inherit;
    transition: 0.1s background;
    .cart-btn-icon {
      position: absolute;
      top: 7px;
      left: 7px;
      transition: 0.1s opacity;
      background-repeat: no-repeat;
      background-size: 400px;
      display: inline-block;
      width: 22px;
      height: 22px;
      background-position: top -121px left -100px;
      background-image: url("/assets/image/icon-etc.png");
    }
  }
  .cart-btn:hover {
    background-color: #35c5f0;
  }
}
.primary-logo {
  position: static;
  margin-right: 50px;
  transform: none;
  > .logo {
    background-repeat: no-repeat;
    background-size: 400px;
    display: inline-block;
    width: 74px;
    height: 30px;
    background-position: top -316px left -100px;
    background-image: url("/assets/image/icon-etc.png");
  }
}

.user-logged {
  display: inline-block;
}
.action-logged {
  display: inline-block;
  width: 155px;
}
.action-unlogged {
  display: inline-block;
}
.user-unlogged {
  font-size: 0;
  margin-left: 1.5px;
  margin-bottom: 3px;
  position: relative;
  display: inline-block;
  > a.auth-menu {
    color: rgb(117, 117, 117);
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    font-weight: 700;
    line-height: 15px;
    text-decoration-color: rgb(117, 117, 117);
    text-decoration-style: solid;
    touch-action: manipulation;
  }
}
.signin:after {
  content: "";
  display: inline-block;
  width: 0;
  height: 15px;
  padding-left: 10px;
  margin-right: 10px;
  vertical-align: -2px;
  border-right: 1px solid #757575;
}
.navigation-primary__user__list {
  position: absolute;
  z-index: 9999999;
  top: 100%;
  right: 80px;
  width: 140px;
  padding: 12.5px 10px;
  border-radius: 4px;
  background-color: white;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.3);
  opacity: 1;
  transform: none;
  transition: opacity 0.1s, transform 0.1s;
  a {
    display: block;
    padding: 7.5px 10px;
    font-size: 15px;
    border-radius: 2px;
    color: #424242;
  }
}
