.navigation-secondary {
  z-index: 502;
  left: 0;
  right: 0;
  transition: top 0.1s;
  background-color: white;
  border-bottom: 1px solid #ededed;
  position: relative;

  nav {
    position: relative;
    height: 50px;
    max-width: 1256px;
    left: 50%;
    transform: translateX(-50%);
    align-items: flex-end;
    box-sizing: border-box;
    align-items: flex-end;
    padding-left: 60px - 12px;

    a {
      font-size: 15px;
      padding: 18px 12px 14px;
      position: relative;
      display: inline-block;
      line-height: 1;
      font-family: inherit;
      font-weight: bold;
      background: none;
      border-bottom: 2px solid transparent;
      cursor: pointer;
      vertical-align: bottom;
    }
    a.active {
      color: #35c5f0;
    }
  }
}
