article {
  padding-right: 10px;
  padding-left: 10px;
  .project-item {
    margin-bottom: 36px;
    > a {
    }
  }
}

.project-cover {
  .project-cover-image {
    position: relative;
    overflow: hidden;
    border-radius: 6px;
    > img {
      width: 365.333px;
      height: 219.2px;

      transition: transform 0.3s ease;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      min-width: 1px;
      min-height: 1px;
    }
  }
  .project-cover-image::before {
    content: "";
    display: block;
    padding-bottom: 60%;
    background-color: #d9d9d9;
  }

  .project-cover-title {
    font-size: 17px;
    padding: 17px 0;
    font-weight: 700;
    line-height: 20px;
  }
}

.project-item-writer {
  margin-bottom: 8px;
  position: relative;
}

.project-item-stats {
  font-size: 13px;
  color: #bdbdbd;
  position: relative;
}
